{
  "extends": "weblab",
  "env": {
    "amd": true,
    "browser": true
  },
  "plugins": [
    "html"
  ],
  "globals": {
    "ActiveXObject": true,
    "SystemJS": true
  },
  "rules": {
    "import/no-amd": 0
  }
}
