body.no-scroll { overflow: hidden; }

/* DIALOGS - generic */
.dialog-mask {
    background-color: rgba(48, 51, 57, 0.6);
    background-image: url('../img/loading-anim.svg');
    background-repeat: no-repeat;
    background-position: center 40%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 999999;
    overflow: auto; /*  overflow-x: hidden; overflow-y: scroll; */
    overflow-x: hidden;
}

.dialog-mask[data-dialog-visible="true"]{
    background-image: none !important;
}

.dialog {
    background: #fff;
    overflow: hidden;
    padding: 0;
    display: block;
    z-index: 999;
    border-radius: 6px;
    margin: 5% auto;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    -webkit-animation-fill-mode: none !important;
}

.dialog.fullscreen {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto !important;
    height: auto !important;
    margin: 0 !important
}

.dialog .dialog-title {
    margin: 0;
    color: #000;
    background: #fff !important;
    text-indent: 18px;
    width: auto;
    line-height: 3em;
    font-size: 1.2em;
    border-bottom: 1px solid #ccc;
}

.dialog .dialog-intro {
    background: #e4e4e4;
    padding: 10px 20px;
}
.dialog-intro:before {
    content: "i";
    display: inline-block;
    padding: 0px 4px;
    border: 3px solid rgba(125,125,125,0.5);
    border-radius: 100px;
    margin-right: 7px;
    font-weight: 700;
    font-size: 16px;
    font-family: monospace;
    color: rgba(125,125,125,0.5);
}


.dialog .dialog-close {
    color: #666;
    cursor: pointer;
    top: 12px;
    right: 16px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    z-index: 1000;
}

.dialog .dialog-close:hover {
    color: #000;
}

.dialog .dialog-body {
}

.dialog .loading-message {
    display: none;
    z-index: 10;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 0 0 -100px;
    text-align: center;
    font: bold 12px/20px 'Helvetica Neue', 'Helvetica', arial, sans-serif;
    color: #333
}

.dialog iframe {
    visibility: visible;
    background: #fff;
    height: 100%;
    width: 100%;
    border: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden
}

.dialog-no-title .dialog-body {
    top: 12px;
}

.dialog-no-title .close {
    top: 2px
}

.dialog-offscreen {
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    left: -9999em !important;
}

.dialog .dialog-buttons {
    text-align: right;
    background: #eee;
    padding: 1em;
    border-top: 1px solid #ccc;
}

.dialog .dialog-buttons .dialog-button {
    background: #007f86;
    color: #fff;
    border: 0;
    padding: 0.5em 2em;
    border-radius: 0.5em;
    font-size: 1em;
    margin: 0 6px;
    text-decoration: none;
    -webkit-box-shadow: 1px 1px 6px #aaa;
    -moz-box-shadow: 1px 1px 6px #aaa;
    box-shadow: 1px 1px 6px #aaa;
    position: relative;
    display: inline-block;
}

.dialog .dialog-buttons .dialog-button:active {
    top: +1px;
    left: +1px;
}

.dialog-loading {
    cursor: wait;
}

.dialog-loading .dialog-body {
}

.dialog-loading .loading-message {
    display: block
}

.dialog-loading iframe {
    position: absolute;
    margin-left: -99999px
}

.dialog-alert .dialog-body {
    background: #fff !important;
    padding: 12px;
    min-height: 60px;
}

.dialog-alert .dialog-buttons {
}

.dialog-alert .close {
    display: none !important;
}

.dialog-confirm {
    width: 300px;
}

.dialog-confirm .dialog-body {
    background: #fff !important;
    padding: 12px;
}

.dialog-confirm .close {
    display: none !important;
}

.dialog-with-border {
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    background: #FFF;
    background-clip: padding-box;
    border: 1px solid #ACACAC;
    border: 1px solid rgba(0, 0, 0, 0.333);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.dialog-scrollable {
    overflow: auto;
}

.dialog-scrollable .dialog-body {
    position: absolute;
    top: 30px;
    left: 50%;
    width: 734px;
    margin: 0 0 0 -367px;
}

.dialog-scrollable .close {
    position: absolute;
    top: 35px;
    left: 50%;
    margin-left: 318px
}

.dialog ul  {
    padding-left: 16px;
}
.dialog li {
    list-style: disc !important;
}
