<script>
define('get-element-value', [], () =>
    /**
     * Gets the value of a (form content) element (<tt>value</tt> property by default), with special case handlers for
     * checkboxes and textareas.
     * Textarea values are returned as an array of lines.
     * @param {HTMLElement} el - the element to get the value of.
     * @returns {any} the value
     */
    function getElementValue(el) {
        const tag = (el) ? el.tagName.toLowerCase() : '';
        switch (tag) {

            case 'input':

                switch (el.type || '') {

                    case 'checkbox':
                        return el.checked;

                    default:
                        return el.value;
                }

            case 'textarea':
                return (el.value !== '') ? el.value.split('\n') : [];

            default:
                return el.value;

        }
    }
);
</script>
