ca-currency {
    display: table;
    position: relative;
}

ca-currency input {
    display: table-cell;
    border-radius: 0px 4px 4px 0px;
    border-left: 0;
    padding: 6px;
}

ca-currency:before {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 14px;
    padding: 6px 12px;
    display: table-cell;
    content: attr(symbol);
    line-height: 1;
    text-align: center;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 4px 0px 0px 4px;
}
