ca-crud {
    display: block;
    position: relative;
}

ca-crud h2 {
    font-size: 1.3em;
    margin-bottom: 8px;
}

ca-crud h3 {
    font-size: 1.1em;
    margin: 6px 0;
}

ca-crud.form-view ca-list, ca-crud.form-view button {
    visibility: hidden;
    display: none;
}

ca-crud .buttons {
    text-align: left;
}

ca-crud .buttons #btnScroll {
    float: right;
}

ca-crud button {
    color: #fff;
    cursor: pointer;
    background-color: #333;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid #333;
    border-color: #666;
    border-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 10px 0;
    width: 100px;
    padding: 0.5em;
}

ca-crud[data-action-complete]:before {
    content: "The following action complete " attr(data-action-complete);
    display: block;
    color: #c00;
    font-weight: bold;
}

ca-crud ca-form form {
    border-bottom: none;
    padding-bottom: 20px;
}

ca-crud ca-form + .buttons {
    text-align: right;
    background: #f8f8f8;
    padding: 0 20px 10px;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    border-top: none;
    margin-bottom: 10px;
}

ca-crud ca-form + .buttons button {
    background: #007f86;
    color: #fff;
    border: 0;
    padding: 0.5em 2em;
    border-radius: 0.5em;
    font-size: 1em;
    margin: 0 6px;
    width: auto;
}

/* schema switching */
ca-crud label[data-key="schemaType"] {
    margin: 10px 0;
}

ca-crud label[data-key="schemaType"] span {
    display: inline-block;
    width: 60px;
}

ca-crud label[data-key="schemaType"] select {
    width: calc(100% - 60px) !important;
}
