ca-dialog {
  visibility: hidden;
}

ca-dialog[visibility="true"] {
  visibility: visible;
}

ca-dialog[visibility="true"] .ca-dialog-overlay {
  display: block;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  opacity: 0.5;
  transition: opacity 0.2s;
}
ca-dialog .ca-dialog-body {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  height: auto;
  z-index: 101;
  box-sizing: border-box;
  transform: translateX(-50%) translateY(-50%);
  /* minor styling */
  background-color: white;
  padding: 20px;
}

ca-dialog .ca-dialog-dynamic-buttons {
  float: left;
}

ca-dialog button {
  padding: 10px;
  margin: 10px;
}
