<link rel="import" href="./helpers/create-element.html">
<link rel="import" href="./helpers/cancel-event.html">
<link rel="import" href="./helpers/json-to-csv.html">
<link rel="import" href="./helpers/component-support.html">
<link rel="import" href="./helpers/post-via-iframe.html">
<style>
    .ca-export-button {
        background: #007f86;
        color: #fff;
        border: 0;
        padding: 0.5em 2em;
        border-radius: 0.5em;
        font-size: 1em;
        margin: 0 6px;
        text-decoration: none;
    }
</style>
<script>
define('ca-export', [
    'create-element',
    'cancel-event',
    'json-to-csv',
    'component-support',
    'post-via-iframe'
], (createElement, cancelEvent, jsonToCSV, componentSupport, postViaIframe) => {
    /**
     * Class export
     * @description A custom HTML element (Web Component) that can be created using
     * document.createElement('ca-export') or included in a HTML page as an element.
     */
    class CaExportElement extends HTMLElement {
        /**
         * createdCallback - called when the component created, (not yet attached to the DOM).
         * @returns {undefined} initalises the component.
         */
        createdCallback() {
            this.showRecordCount = true;
            // insert download button
            this.button = createElement(this, 'a', { class: 'ca-export-button', href: '#', target: '_blank', download: this.filename }, this.label || '');
            this.button.onclick = this.downloadHandler.bind(this);
        }

        /**
         * @description Executes when any attribute is changed on the element
         * @type {Event}
         * @param {string} attrName - the name of the attribute to have changed
         * @param {string} oldVal - the old value of the attribute
         * @param {string} newVal - the new value of the attribute
         * @returns {undefined}
         */
        attributeChangedCallback(attrName, oldVal, newVal) {
            switch (attrName) {
                case 'label':
                    this.button.textContent = this.label;
                    break;

                case 'filename':
                    this.button.setAttribute('download', this.filename);
                    break;

                default: break;
            }
        }

        /**
         * Gets src of schema
         * @returns {string} src of schema
         */
        get src() {
            return this.getAttribute('src') || '';
        }

        /**
         * Set src of schema
         * @param {string} src - where to fetch the schema from
         */
        set src(src = '') {
            if (src !== '') {
                componentSupport
                .request({ url: src, dataType: 'json' })
                // eslint-disable-next-line consistent-return
                .then(res => {
                    if (res) {
                        // store data
                        this.data = res.list || [];
                        // get the schema link
                        const schemaUrl = ((res.links || []).find(item => item.rel === 'describedby') || {}).href || '';
                        // go get the schema to we know how to layout the export
                        return componentSupport.request({ url: schemaUrl, dataType: 'json' });
                    }
                })
                .then(schema => {
                    this.schema = schema;
                });
            }

            this.setAttribute('src', src);
        }

        /**
         * Gets setting for display record count
         * @returns {boolean} flag to determine whether to show the record count or not
         */
        get showRecordCount() {
            return (this._showRecordCount === true);
        }

        /**
         * Sets setting for display record count
         * @param {boolean} value - setting for display count
         */
        set showRecordCount(value) {
            this._showRecordCount = (value === true);
        }

        /**
         * Gets label attribute
         * @returns {string} label attribute
         */
        get label() {
            return this.getAttribute('label');
        }

        /**
         * Sets label attribute
         * @param {string} value - sets the label to value
         */
        set label(value) {
            this.setAttribute('label', value);
        }

        /**
         * Gets file name
         * @returns {string} filename
         */
        get filename() {
            return this.getAttribute('filename');
        }

        /**
         * Sets file name
         * @param {string} value - filename setting
         */
        set filename(value) {
            this.setAttribute('filename', value);
        }

        /**
         * Gets cached schema
         * @returns {object} schema
         */
        get schema() {
            return this._schema;
        }

        /**
         * Sets the cache schema
         * @param {object} value - schema as object
         */
        set schema(value = {}) {
            this._schema = value;
        }

        /**
         * Gets cache data
         * @returns {array} data to export.
         */
        get data() {
            return this._data || [];
        }

        /**
         * Gets cached schema
         * @param {array} value, array of data to export.
         */
        set data(value) {
            this._data = value;

            if (this._data && this._data.length > 0) {
                this.hasData = true;
            } else {
                this.hasData = false;
            }

            if (this.showRecordCount) {
                this.button.textContent += ` (${(this.data || []).length} records)`;
            }
        }

        /**
         * Gets has data attribute
         * @returns {boolean} setting for has data status
         */
        get hasData() {
            return this.getAttribute('has-data');
        }

        /**
         * Sets hasData vflag
         * @param {boolean} value, boolean to trigger has data/
         */
        set hasData(value) {
            this.setAttribute('has-data', value === true);
        }

        /**
         * Gets export type
         * @returns {string} export setting
         */
        get type() {
            return this.getAttribute('type') || 'csv';
        }

        /**
         * Sets the type of export
         * @param {string} value, sets the export type attribute.
         */
        set type(value) {
            // ensure its always csv or xls
            const fileType = value !== 'xlsx' ? 'csv' : 'xlsx';
            this.setAttribute('type', fileType);
        }

        /**
         * Gets the template converstion url
         * @returns {string} url for conversion
         */
        get templateConversionUrl() {
            return this.getAttribute('template-conversion-url') || '/excel-download';
        }

        /**
         * Sets the type of export
         * @param {string} value, conversion url, default to /excel-download
         */
        set templateConversionUrl(value = '/excel-download') {
            this.setAttribute('template-conversion-url', value);
            this.form.action = value;
        }

       /**
        * onbeforedownload - Called before download, returning false cancels the download
        * @param {Event} e, event object.
        * @returns {undefined} void function.
        */
        onbeforedownload() {

        }

       /**
        * ondownloadcomplete - Fires once the download has completed (it's all local);
        * @param {Event} e, event object.
        * @returns {undefined} void function.
        */
        ondownloadcomplete() {

        }

        /**
         * Event handler - Executes when the user clicks the download button
         * @param {Event} e, event object.
         * @returns {undefined} void function.
         */
        downloadHandler(e = event) {
            const el = e.target || e.srcElement;

            // if onbeforedownload is not a function or if that handler returns anything other than false
            if (!this.onbeforedownload || this.onbeforedownload() !== false) {

                switch (this.type) {
                    case 'csv': {
                        // convert the data into CSV content
                        const data = jsonToCSV(this.schema, this.data);

                        // trigger the download using a datauri (encoding content)
                        el.href = `data:text/plain;charset=utf-8,${encodeURIComponent(data)}`;

                    } break;

                    case 'xlsx': {
                        cancelEvent(e);

                        const schema = (this.schema || {}).properties || {}; // get schema keys
                        const keys = []; // actual schema object keys
                        const headers = []; // headers to use in excel file
                        const data = (this.data.length > 0) ? this.data : [{}]; // ensure we always have at least 1 item (so we can download just the headers)
                        const rows = []; // rows of data

                        // get keys we're interested in
                        Object.keys(schema).forEach((key) => {
                            if (Object.prototype.hasOwnProperty.call(schema, key) && key !== 'links') {
                                keys.push(key);
                            }
                        });

                        // build headers (use .title if present, otherwise the schema key)
                        keys.forEach((key) => {
                            headers.push(schema[key].title || key);
                        });

                        if (headers.length > 0) {
                            // go through each data item and create new objects using headers as keys
                            for (let i = 0, l = data.length; i < l; i++) {
                                const item = {};

                                for (let ii = 0, ll = keys.length; ii < ll; ii++) {
                                    item[headers[ii]] = data[i][keys[ii]] || '';
                                }
                                rows.push(item);
                            }

                            // post to server via iframe, server will convert to excel and trigger a download
                            postViaIframe(this.templateConversionUrl, {
                                json: JSON.stringify(rows)
                            });
                        }

                    } break;

                    default: break;

                }

                // execute download complete, fire external event handler
                if (this.ondownloadcomplete) this.ondownloadcomplete();
            } else {
                // if onbeforedownload returned false, cancel the event
                cancelEvent(e);
            }
        }
    }

    // Register our new element
    document.registerElement('ca-export', CaExportElement);

});
</script>
