body {
    background-color: #eee;
}
ca-form-builder {
    position: relative;
    top: 10px;
    min-height: 400px;
    min-width: 600px;
    display: block;
}
ca-form-builder ca-form {
    overflow: auto;
    display: block;
}
/* place an outline around the selected element */

ca-form-builder label[data-selected="true"] {
    outline: -webkit-focus-ring-color auto 5px;
    border: 1px solid #666666;
}
ca-form-builder label[data-selected="true"] input,
ca-form-builder label[data-selected="true"] select,
ca-form-builder label[data-selected="true"] textarea {
    outline: none;
}
/* remove the outline around the selected label when the form builder is in "text-edit" mode */

ca-form-builder[data-mode="text-edit"] label[data-selected="true"] {
    outline: none;
}
/* fix the width of the time element of date-time controls */

ca-form-builder ca-form label[data-format="date-time"] ca-datetime input[type="time"],
ca-form-builder ca-form label[data-format="local-date-time"] ca-datetime input[type="time"] {
    width: 90px;
}
.ca-form-builder-preview form[data-selected="true"] {
    outline: -webkit-focus-ring-color auto 5px;
    border: 1px solid #666666;
}
ca-form-builder .ca-form-builder-preview ca-form label:after,
ca-form-builder .ca-form-builder-preview ca-form label.required:after {
    content: attr(data-key);
    color: #333333;
    font-size: 10px;
    -webkit-transition: all .25s;
    transition: all .25s;
    position: absolute;
    right: 2px;
    top: 12px;
    background-color: #ffee00;
    padding: 0 4px;
}
ca-form-builder .ca-form-builder-preview ca-form label[data-selected="true"]:after,
ca-form-builder .ca-form-builder-preview ca-form label.required[data-selected="true"]:after {
    color: red;
    font-size: 14px;
    top: 8px;
    -webkit-transition: all .25s;
    transition: all .25s;
}
/* style the container for the toolbox buttons */

.ca-form-builder-toolbox-buttons {
    padding: 10px 10px 6px 10px;
    border: 1px solid #bbb;
    border-radius: 3px;
    background-color: #f8f8f8;
    margin-bottom: 4px;
}
/* style each tool in the tool box */

.ca-form-builder-toolbox a {
    display: block;
    line-height: 2em;
    border: 1px solid #cccccc;
    margin: 0 0 4px 0;
    text-align: center;
    cursor: pointer;
    border-radius: 12px;
    background-color: #e8e8e8;
}
/* highlight tool when hover over it */

.ca-form-builder-toolbox a:hover {
    -webkit-transition: all .25s;
    transition: all .25s;
    background-color: #e0e0e0;
    border: 1px solid #999999;
}
/* place an outline around the selected tool */

.ca-form-builder-toolbox a[data-selected="true"] {
    border: 1px solid #666666;
    background-color: #d0d0d0;
}
.ca-form-builder-toolbox a[data-schema-type="input"] {}
/* hide the following generic schema fields */

.ca-form-builder-property label[data-key="type"],
.ca-form-builder-property label[data-key="id"],
.ca-form-builder-property label[data-key="sequence"],
.ca-form-builder-metadata label[data-key="formDefinition"] {
    /*display: none;*/
}
/* the property and meta data forms are hidden initially */

.ca-form-builder-property,
.ca-form-builder-metadata {
    display: none;
}
/* stay hidden if the data-selected attribute is off */

.ca-form-builder-property[data-selected="false"] .ca-form-builder-metadata[data-selected="false"] {
    display: none;
}
/* and get shown when the data-selected attribute is set */

.ca-form-builder-property[data-selected="true"],
.ca-form-builder-metadata[data-selected="true"] {
    display: block;
}
/* Box headings for the three areas of the screen */

.ca-form-builder-toolbox:before {
    content: "TOOLBOX";
}
.ca-form-builder-preview:before {
    content: "PREVIEW";
}
.ca-form-builder-property:before {
    content: "PROPERTIES";
}
.ca-form-builder-metadata:before {
    content: "FORM PROPERTIES";
}
.ca-form-builder-toolbox:before,
.ca-form-builder-preview:before,
.ca-form-builder-property:before,
.ca-form-builder-metadata:before {
    font-weight: bold;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline;
}
/* The main areas of the page */

.ca-form-builder-toolbox,
.ca-form-builder-preview,
.ca-form-builder-property,
.ca-form-builder-metadata {
    float: left;
}
/* Main screen area widths */

.ca-form-builder-toolbox {
    width: 10%;
}
.ca-form-builder-preview {
    width: 65%;
}
.ca-form-builder-property,
.ca-form-builder-metadata {
    width: 25%;
}
/* Special margins for the preview area (to cope with outline) */

.ca-form-builder-preview ca-form {
    margin-top: -4px;
}
.ca-form-builder-preview form {
    margin: 4px 20px 4px 20px;
    border: 1px solid #bbb;
}
.ca-form-builder-property form,
.ca-form-builder-metadata form {
    border: 1px solid #bbb;
    margin-bottom: 4px;
}
/* style all form builder buttons */

.ca-form-builder-toolbox button,
.ca-form-builder-preview button,
.ca-form-builder-property button,
.ca-form-builder-metadata button {
    color: #fff;
    cursor: pointer;
    background-color: #333;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    padding: 0.5em 0.5em !important;
    margin-top: 2px;
    margin-right: 2px;
    font-size: 12px;
    float: left;
}
.ca-form-builder-previewform-buttons {
    margin-left: 20px;
    margin-right: 20px;
}
.ca-form-builder-toolbox button.right,
.ca-form-builder-preview button.right,
.ca-form-builder-property button.right,
.ca-form-builder-metadata button.right {
    float: right;
    margin-left: 2px;
    margin-right: 0;
}
.dialog-clear-form,
.dialog-load-form,
.dialog-save-form,
.dialog-property-remove,
.dialog-save-form-success {
    width: 400px;
}
