ca-input-array {
    display: block;
}

ca-input-array div {
    display: block;
    position: relative;
}

ca-input-array div[data-invalid] input{
    background: #dd4b39;
    color: #fff;
}

ca-input-array button { 
    outline: none;
    background: transparent;
    display: inline-block !important; 
    color: #aaa; 
    /*font-weight: 700; */
    font-size: 1.3em;
    cursor: pointer;
    text-indent: -100px;
    width: 26px;
    height: 30px;
    vertical-align: top;
    overflow: hidden;
    background-repeat: no-repeat;
}

ca-input-array span:hover {
    color: #333;
}

ca-input-array .ca-input-array-remove {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDEyNSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjIyIiBoZWlnaHQ9IjIyIj4gICAgPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjMDAwMDAwIiBkPSJNODgsNTR2LTZjMC0yLjk2MS0wLjg1OS00LTQtNEgxNmMtMi45NjEsMC00LDAuOTgtNCw0djZjMCwzLjEsMS4wMzksNCw0LDRoNjggICBDODcuMDIsNTgsODgsNTcuMDM5LDg4LDU0eiIvPjwvc3ZnPg==) no-repeat center 8px;
}

ca-input-array .ca-input-array-add {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMTAwIDEyNSIgdmVyc2lvbj0iMS4xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjIyIiBoZWlnaHQ9IjIyIj4gICAgPGcgZmlsbD0iIzAwMDAwMCIgc3Ryb2tlLXdpZHRoPSI0IiBzdHJva2U9IiMwMDAiPiAgICAgICAgPHBhdGggZD0iTTU0LDQ2IEw1NCwxMy45OTQ1ODMyIEM1NCwxMS43ODMwNzk3IDUyLjIwOTEzOSwxMCA1MCwxMCBDNDcuNzk1MzU2MiwxMCA0NiwxMS43ODg0MzU4IDQ2LDEzLjk5NDU4MzIgTDQ2LDQ2IEwxMy45OTQ1ODMyLDQ2IEMxMS43ODMwNzk3LDQ2IDEwLDQ3Ljc5MDg2MSAxMCw1MCBDMTAsNTIuMjA0NjQzOCAxMS43ODg0MzU4LDU0IDEzLjk5NDU4MzIsNTQgTDQ2LDU0IEw0Niw4Ni4wMDU0MTY4IEM0Niw4OC4yMTY5MjAzIDQ3Ljc5MDg2MSw5MCA1MCw5MCBDNTIuMjA0NjQzOCw5MCA1NCw4OC4yMTE1NjQyIDU0LDg2LjAwNTQxNjggTDU0LDU0IEw4Ni4wMDU0MTY4LDU0IEM4OC4yMTY5MjAzLDU0IDkwLDUyLjIwOTEzOSA5MCw1MCBDOTAsNDcuNzk1MzU2MiA4OC4yMTE1NjQyLDQ2IDg2LjAwNTQxNjgsNDYgTDU0LDQ2IFoiLz4gICAgPC9nPjwvc3ZnPg==) no-repeat center 8px;
}

ca-input-array input {
    width: 78.75%;
    min-width: 160px;
    display: inline-block; 
    padding: 6px 2px 6px 6px;
    margin: 0 6px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    margin-bottom: 4px;
}
