ca-notification {
  visibility: hidden;
  display: block;
  padding: 15px 10px;
  margin: 15px 10px;
}

ca-notification[visibility="true"] {
  visibility: visible;
}

ca-notification, ca-notification[type="info"] {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

ca-notification[type="success"] {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

ca-notification[type="warn"] {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

ca-notification[type="error"] {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}


ca-notification .ca-notification-close {
  float: right;
  opacity: 0.2;
  text-decoration: none;
}
