ca-nav {
    display: block;
}

ca-nav ul {
    margin: 0;
}

ca-nav li {
    margin: 0;
    padding: 0;
    display: block;
    border-bottom: 1px dotted #333;
}

ca-nav a {
    display: block;
    color: #333;
    padding: .5em .25em .5em 24px;
    text-decoration: none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAKCAMAAAC+Ge+yAAAACVBMVEX///80NDQzMzOnxMK5AAAAAnRSTlMAgJsrThgAAAAVSURBVAjXY2BkYmJkAAMiWTAGIRoACuYAPfS4dJ4AAAAASUVORK5CYII=) no-repeat 6px center;
    -webkit-transition: all .25s;
    transition: all .25s;
}

ca-nav a:hover,
ca-nav a[data-selected="true"] {
    background-color: #e6e6e6;
    color: #000;
    background-position: 10px center;
}

ca-nav li:last-child {
    border-bottom: 0;
}
