<link rel="import" href="./helpers/create-element.html">
<link rel="import" href="./helpers/fire-event.html">
<link rel="import" href="./helpers/dialogs.html">
<link rel="import" href="./ca-form.html">
<link rel="import" href="./ca-select.html">
<link rel="import" href="./ca-summary.html">
<link rel="import" href="./ca-property.html">
<style>
    ca-object-list {
        display: block;
        position: relative;
        overflow: inherit;
    }

    ca-object-list::after {
        content: "";
        display: block;
        clear: both;
    }

    ca-object-list button {
        float: left;
        overflow: hidden;
        color: #fff;
        cursor: pointer;
        background-color: #333;
        border: 1px solid #333;
        padding: 0.5em 2em;
        border-radius: 5px;
        text-align: center;
    }

    button.ca-object-list-remove {
        margin-left: -2em;
        margin-top: -0.5em;
        margin-right: 1em;
        width: 2em;
        z-index: 2;
        position: relative;
        border: none;
        text-indent: -0.1em;
        padding: 0.2em;
        border-radius: 1.5em;
    }

    button.ca-object-list-remove::before {
        content: "×";
        font-size: 1.3em;
    }

    button.ca-object-list-remove span {
        display: none;
    }

    ca-object-list ca-summary {
        float: left;
    }

    ca-object-list ca-summary p {
        text-align: left;
    }

    ca-object-list ca-summary p[data-label]:before {
        display: none;
    }
</style>
<script>
define('ca-object-list', ['create-element', 'fire-event', 'dialogs'], (createElement, fireEvent, dialogs) => {

    /**
     * @exports ca-object-list
     * @description A custom HTML element (Web Component) that can be created using
     * document.createElement('ca-object-list') or included in a HTML page as an element.
     * This component is a way of displaying a list of complex objects with the ability to add and remove from the list.
     * The component reuses ca-summary to display existing objects, and ca-form to add new objects.
     */
    class CaObjectListElement extends HTMLElement {
        /**
         * @description Executes when the element is attached to the DOM
         * @returns {undefined} calls render if condition is met
         */
        attachedCallback() {
            // Render the component now it has been added to the DOM, if we have a schema.
            if (this.schema) {
                this.render();
            }
        }

        /**
         * Gets title to be used for these items
         * @returns {string} title, title to get.
         */
        get title() {
            return this.getAttribute('title');
        }

        /**
         * Sets title to be used for these items
         * @param {string} title, title to set.
         */
        set title(title) {
            this.setAttribute('title', title);
        }

        /**
         * Gets the JSON schema for each item in the object list
         * @returns {object} schema
         */
        get schema () {
            return this._schema;
        }

        /**
         * Sets the JSON schema for each item in the object list
         * @param {object} schema that drives render.
         */
        set schema(schema) {
            this._schema = schema;
            if (this.parentNode) { // already attached
                this.render();
            }
        }

        /**
         * Gets the object array being managed by this component
         * @returns {Array} value
         */
        get value() {
            return Array.from(this.querySelectorAll('ca-summary')).map(record => record.data);
        }

        /**
         * Sets the object array being managed by this component
         * @param {Array} value, array for data.
         */
        set value(value) {
            this._property = value;
            if (this.parentNode && this._schema) {
                this.render();
            }
        }

        /**
         * @description Show the form to add a new object
         * @returns {undefined} nothing, shows form.
         */
        showForm () {
            const dialogId = `${this.id}-addDialog`;

            if (!dialogs.get(dialogId)) {
                const dlg = dialogs.open('', {
                    id:	dialogId,
                    autoshow:	false,
                    title:	`Add ${this.title}`,
                    css: `animated fadeInDown ${this.id}` || '',
                    bodycss: 'no-scroll',
                    buttons: ['Cancel', 'Add'],
                    callback: (btnName) => {
                        if (btnName === 'Add') {
                            // This makes me cry, but refactoring is the only solution to this.
                            // eslint-disable-next-line no-use-before-define
                            if (form.isValid()) {
                                const createForm = document.querySelector(`#${this.id}-addDialog form`);
                                if (createForm) {
                                    fireEvent(createForm, 'submit');
                                }
                                return true;
                            }
                            // dont allow the dialog to close
                            return false;
                        }
                        return true;
                    }
                });
                // This makes me cry, but refactoring is the only solution to this.
                // eslint-disable-next-line no-undef
                const form = createElement(dlg.body, 'ca-form');

                // dont show the dialog until all data fetched and contents rendered
                form.onrendercomplete = () => {
                    // This makes me cry, but refactoring is the only solution to this.
                    // eslint-disable-next-line no-undef
                    dlg.show();
                };

                form.columns = 1;
                form.className = this.id;

                form.onsave = () => {
                    this.addCard(form.getData());
                };
                form.schema = [this.schema];
                this._isFormShowing = true;
            }
        }

        /**
         * @description Renders the element (invoked via render.call(this))
         * @returns {undefined} renders to the dom.
         */
        render() {
            this.innerHTML = '';
            this._button = createElement(this, 'button', { class: 'ca-object-list-add' }, 'Add');
            this._button.onclick = this.addButtonHandler.bind(this);
            if (this._property && Array.isArray(this._property)) {
                for (let i = 0, l = this._property.length; i < l; i++) {
                    this.addCard(this._property[i]);
                }
            }
        }

        /**
         * @description Adds a card with a single record to the rendered view.
         * @param {object} data the data for the record
         * @returns {undefined} nothing
         */
        addCard(data) {
            const card = createElement(null, 'ca-summary', { type: 'card', itemsPerCol: 100 });
            card.schema = this.schema;
            card.data = data;
            this.insertBefore(card, this._button);
            const removeButton = createElement(null, 'button', { class: 'ca-object-list-remove' });
            removeButton.innerHTML = '<span>Remove</span>';
            removeButton.onclick = this.removeButtonHandler.bind(this, card);
            this.insertBefore(removeButton, this._button);
        }

        /**
         * @description button handler.
         * @param {event} e, event.
         * @returns {undefined} nothing. Shows form.
         */
        addButtonHandler(e) {
            e.preventDefault();
            e.stopPropagation();
            this.showForm();
        }

        /**
         * @description remove button handler.
         * @param {CaSummaryElement} card, ca-summary element to be removed
         * @param {event} e, event
         * @returns {undefined} nothing. Removes card and button (event target) from DOM.
         */
        removeButtonHandler(card, e) {
            e.preventDefault();
            e.stopPropagation();
            card.parentNode.removeChild(card);
            e.target.parentNode.removeChild(e.target);
        }
    }

    // Register our new element
    document.registerElement('ca-object-list', CaObjectListElement);
});
</script>
