ca-property {
    display: block;
    position: relative;
    padding: 10px 0;
}

ca-property[title]:before {
    content: attr(title) ": ";
    float: left;
    font-weight: bold;
    display: block;
}

ca-property[data-count]:before {
    content: attr(title) " (" attr(data-count) " items):";
    margin-bottom: 10px;
    float: none;
}

ca-property[readonly] p {
    text-align: left;
}

ca-property p {
    text-align: right;
}

ca-property ul {
    position: relative;
}

ca-property li {
    display: inline-block;
    margin: 0 4px 4px 0;
    background: #ccc;
    padding: 4px 8px;
    border-radius: 4px;
    width: auto;
    border: 1px solid #bbb;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ca-summary ul:after {
    content: '';
    display: block;
    clear: both;
}

