ca-rating {
    display:block;
    width: 100%;
    padding: 0;
    margin: 0
}
ca-rating ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
}
ca-rating li {
    list-style: none;
    display: inline-block;
}
ca-rating a {
    display: block;
    text-align: center;
    padding: 0.4em 0;
    font-weight: bold;
    color: #333;
    border: 1px solid #AAA;
    outline: none;
    cursor: pointer;
}
ca-rating a.selected {
    border: 1px solid #333;
    background: #FBAB18 !important;
}
ca-rating a:hover {
    border: 1px solid #333;
    background: #fde030;
}
