<link rel="import" href="./helpers/clear-element.html">
<link rel="import" href="./helpers/create-element.html">
<link rel="import" href="./helpers/cancel-event.html">
<style>
    ca-rating {
        display:block;
        width: 100%;
        padding: 0;
        margin: 0
    }
    ca-rating ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        display: inline-block;
    }
    ca-rating li {
        list-style: none;
        display: inline-block;
    }
    ca-rating a {
        display: block;
        text-align: center;
        padding: 0.4em 0;
        font-weight: bold;
        color: #333;
        border: 1px solid #AAA;
        outline: none;
        cursor: pointer;
    }
    ca-rating a.selected {
        border: 1px solid #333;
        background: #FBAB18 !important;
    }
    ca-rating a:hover {
        border: 1px solid #333;
        background: #fde030;
    }
</style>
<script>
define('ca-rating', ['clear-element', 'create-element', 'cancel-event'], (clearElement, createElement, cancelEvent) => {
    /**
     * @exports ca-rating
     * @description A custom HTML element (Web Component) that can be created using
     * document.createElement('ca-rating') or included in a HTML page as an element.
     */
    class Rating extends HTMLElement {

        /**
         * @description Executes when the element is first created
         * @return {undefined}
         */
        createdCallback() {
            // render the component now that it has been created
            this.render();
        }

        /**
         * @description Executes when the element is attached to the DOM
         * @access private
         * @type {Event}
         * @returns {undefined} nothing
         */
        attachedCallback() {
            // render the component after it has been attached to the DOM
            this.attached = true;
            this.render();
        }

        /**
         * @description Executes when any attribute is changed on the element
         * @param {string} attrName - the name of the attribute to have changed
         * @param {string} oldVal - the old value of the attribute
         * @param {string} newVal - the new value of the attribute
         * @returns {undefined}
         */
        attributeChangedCallback(attrName, oldVal, newVal) {
            // only need to re-render the component if the attribute value has changed
            if (oldVal !== newVal) {
                this[attrName] = newVal;
                this.render();
            }
        }

        /** @returns {string} - gets the id of the element */
        get id() {
            return this.getAttribute('id');
        }

        /** @param {string} value - sets the id of the element */
        set id(value) {
            this.setAttribute('id', value);
        }

        /** @returns {string} - gets the name of the element */
        get name() {
            return this.getAttribute('name');
        }

        /** @param {string} value - sets the name of the element */
        set name(value) {
            this.setAttribute('name', value);
        }

        /** @returns {string} - gets the from value of the element */
        get from() {
            return parseInt(this.getAttribute('from'), 10) || this.defaults.from;
        }

        /** @param {string} value - sets the from value of the element */
        set from(value) {
            this.setAttribute('from', value || this.defaults.from);
        }

        /** @returns {string} to - gets the to value of the element */
        get to() {
            return parseInt(this.getAttribute('to'), 10) || this.defaults.to;
        }

        /** @param {string} value - sets the to value of the element */
        set to(value) {
            this.setAttribute('to', value || this.defaults.to);
        }

        /** @returns {string} value - gets the value of the element */
        get value() {
            return parseInt(this.getAttribute('value'), 10) || this.defaults.value;
        }

        /** @param {string} value - sets the value of the element */
        set value(value) {
            this.setAttribute('value', value || this.defaults.value);
        }

        /** @property {string} ca-rating.defaults - gets the defaults of the element */
        get defaults() {
            return {
                from: 1,   // the lowest ranking value to be displayed
                to: 10,    // the highest ranking value to be displayed
                value: -1  // the initially selected ranking value
            };
        }

        /** @returns {boolean} attached - indicates whether the element has attached to the DOM */
        get attached() {
            return (this._attached === true);
        }

        /** @param {boolean} value - sets the attached flag */
        set attached(value) {
            this._attached = value;
        }

        /** @returns {HTMLElement} selectedItem - holds the currently selected element */
        get selectedItem() {
            return this._selectedItem;
        }

        /** @param {HTMLElement} value - sets the selectedItem of the element */
        set selectedItem(value) {
            this._selectedItem = value;
        }

        /**
         * @description Create the structure behind the component
         * @returns {undefined} void function that performs the rendering.
         */
        render() {
            /*
             TEMPLATE:
             <ca-rating from="{{from}}" to="{{to}}" value="{{value}}">
             <ul>
             <li>
             <a data-index="{{i}}">"{{i}}"</a>
             </li>
             </ul>
             </ca-rating>
             */
            if (this.to < this.from) {
                // temporarily un-attach whilst switching the attributes over to prevent multiple re-renders
                this.attached = false;
                const temp = this.from;
                this.from = this.to;
                this.to = temp;
                this.attached = true;
            }
            // only want to render the component if it has been attached to the DOM
            if (this.attached) {
                clearElement(this);
                const ul = createElement(this, 'ul');
                // Divide the rating boxes into 100%
                //   eg from="3" to="7" -> width="20%" for each of the 5 li's
                const w = 100 / (1 + (this.to - this.from));
                for (let i = this.from, l = this.to; i <= l; i++) {
                    const li = createElement(ul, 'li', { style: `width: ${w}%` });
                    const link = createElement(li, 'a', { 'data-index': i }, i);
                    if (this.value === i) {
                        this.selectItem(link);
                    }
                }
                ul.onclick = this.eventDelegate.bind(this);
            }
        }

        /**
         * clears the selected class of the selected item
         * @access private
         * @returns {undefined} nothing
         */
        deselectItem() {
            if (this.selectedItem) {
                this.selectedItem.className = '';
            }
        }

        /**
         * @description Sets the selectedItem to the element passed and sets the selected class on this element
         * @access private
         * @param {object} el - the anchor element inside the component
         * @returns {undefined} nothing
         */
        selectItem(el) {
            this.selectedItem = el;
            this.selectedItem.className = 'selected';
        }

        /**
          * @description Internal method to handles child interaction events
          * @access private
          * @type {Event}
          * @param {Event} e - the element that the event happened on
         * @returns {undefined} nothing
          */
        eventDelegate(e = event) {
            const el = e.target || e.srcElement;
            const tag = (el.tagName || '').toLowerCase();

            if (tag === 'a') {
                cancelEvent(e);

                // Deselect the currently selected element
                this.deselectItem();

                // Grab hold of the index on the new selection
                this.value = el.getAttribute('data-index');

                // And make the new selection the selected item
                this.selectItem.call(this, el);
            }

            return true;
        }
    }

    // register our new element
    document.registerElement('ca-rating', Rating);
});
</script>
