ca-summary {
    display: block;
    background: #f2f2f2;
    padding: 10px 20px 30px 20px;
    border: 1px solid #c0c0c0;
    overflow: auto;
}

ca-summary div {
    position: relative;
    display: block;
    float: left;
}

ca-summary[data-cols] div {
    display: inline-block;
    margin: 0 4%;
}

ca-summary[data-cols] div:first-child {
    margin-left: 0;
}

ca-summary[data-cols] div:last-child {
    margin-right: 0;
}

ca-summary[data-cols="1"] div {
    width: 100%;
}

ca-summary[data-cols="2"] div {
    width: 44%;
}

ca-summary[data-cols="3"] div {
    width: 30%;
}

ca-summary[data-cols="4"] div {
    width: 20%;
}

/* Settings common to the tooltip and card presentations */
ca-summary[data-type="tooltip"], ca-summary[data-type="card"] {
    background: transparent !important;
    overflow: hidden;
    border: 0;
}

ca-summary[data-type="tooltip"] div, ca-summary[data-type="card"] div {
    padding: 8px;
    width: auto !important;
}

ca-summary[data-type="tooltip"] ca-property, ca-summary[data-type="card"] ca-property {
    padding: 2px 0;
    border: 0;
    font-size: 0.9em;
}

ca-summary[data-type="tooltip"]:before, ca-summary[data-type="card"]:before {
    width: 100px !important;
}

ca-summary[data-type="tooltip"]:after {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #333;

    width: 0;
    height: 0;
    content: " ";
    position: absolute;
    top: 3px;
    left: 2px;
}

ca-summary[data-type="tooltip"] ca-property[title]:before, ca-summary[data-type="card"] ca-property[title]:before {
    padding-right: 0.5em;
}

/* Tooltip-specific */
ca-summary[data-type="tooltip"] {
    position: absolute;
    padding: 0 0 0 10px;
}

ca-summary[data-type="tooltip"] div {
    background: #333;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
}

ca-summary[data-type="tooltip"] ca-property {
    color: #fff;
}

/* Card-specific */
ca-summary[data-type="card"] {
    display: inline-block;
    position: relative;
    padding: 0 10px 0 0;
}

ca-summary[data-type="card"] div {
    border: 1px solid #ccc;
    border-radius: 4px;
    background: white;
}

/* Nested cards */
ca-summary li ca-summary[data-type="card"] {
    padding: 0;
}

ca-summary li ca-summary[data-type="card"] div {
    border: none;
    background: transparent;
}

ca-summary li ca-summary[data-type="card"] ca-property {
    text-align: left;
}

ca-summary li ca-summary[data-type="card"] ca-property[title]:before {
    display: none;
}

ca-summary img {
    display: block;
    width: 100%;
    clear: both;
    float: none;
    padding-top: 10px;
}
