ca-select select{
    display: block;
}
ca-select[multiple="true"] select {
    padding: 0;
    height: auto !important;
}

ca-select[multiple="true"] option {
    padding: 4px 0;
    outline: none;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    vertical-align: middle;
    display: block;
}

ca-select[multiple="true"] option[value=""]{ display: none; }

ca-select[multiple="true"] option:hover{
    background-color: #eee;
}

ca-select[multiple="true"] option:before {
    content: " ";
    width: 12px;
    height: 12px;
    margin: 4px 8px;
    border-radius: 4px;
    border: 1px solid #888;
    vertical-align: middle;
    display: inline-block;
}

/* selected item */
ca-select[multiple="true"] option[data-selected="true"] { background-color:#eee !important; }
ca-select[multiple="true"] option[data-selected="true"]:before { background: #000; }

ca-select[data-empty="true"] select {
    border: 1px solid #dd4b39 !important;
    background-color: #eef9b4 !important;
}
ca-select[multiple][data-empty="true"] select:before{
    content: "No options available";
    display: inline-block;
    padding: 6px;
    color: #666;
}

ca-select[style="checkbox"] p {
    padding-left: 6px;
    margin-left: 20px;
}
ca-select[style="checkbox"] p input[type="checkbox"] {
    margin-left: -20px;
}
