<link rel="import" href="./helpers/component-support.html">
<link rel="import" href="./helpers/create-element.html">
<link rel="import" href="./helpers/types.html">
<link rel="import" href="./helpers/parent-by-attribute.html">
<link rel="import" href="./helpers/trace.html">

<style>
    ca-select select {
        display: block;
    }

    ca-select[multiple="true"] select {
        padding: 0;
        height: auto !important;
    }

    ca-select[multiple="true"] option {
        padding: 4px 0;
        outline: none;
        cursor: pointer;
        border-bottom: 1px solid #ccc;
        display: block;
    }

    ca-select[multiple="true"] option[value=""] {
        display: none;
    }

    ca-select[multiple="true"] option:hover {
        background-color: #eee;
    }

    ca-select[multiple="true"] option:before {
        content: " ";
        width: 12px;
        height: 12px;
        margin: 4px 8px;
        border-radius: 4px;
        border: 1px solid #888;
        vertical-align: middle;
        display: inline-block;
    }

    ca-select[multiple="true"] option[data-selected="true"] {
        background-color: #eee !important;
    }

    ca-select[multiple="true"] option[data-selected="true"]:before {
        background: #000;
    }

    ca-select[data-empty="true"] select {
        border: 1px solid #dd4b39 !important;
        background-color: #eef9b4 !important;
    }

    ca-select[multiple][data-empty="true"] select:before {
        content: "No options available";
        display: inline-block;
        padding: 6px;
        color: #666;
    }

    ca-select[style="checkbox"] p {
        padding-left: 6px;
        margin-left: 20px;
    }

    ca-select[style="checkbox"] p input[type="checkbox"] {
        margin-left: -20px;
    }
</style>
<script>
    define([
        'component-support',
        'create-element',
        'types',
        'parent-by-attribute',
        'trace'
    ], (componentSupport, createElement, types, parentByAttribute, trace) => {

        /**
         * Select class for Select web component
         * @extends HTMLElement
         */
        class CaSelectElement extends HTMLElement {

            /**
               * Called when the component is attached to the DOM
               * @returns {undefined} nada.
               */
            attachedCallback() {
                if (this.ariaLabel) {
                    this.root.setAttribute('aria-label', this.ariaLabel);
                }
            }

            /**
            * Called when element is initialised
            * @returns {void} void
            */
            createdCallback() {
                this.isTouch = ('ontouchend' in document.documentElement);
                this.selections = {};

                switch (this.style) {
                    case 'checkbox':
                        this.root = this;
                        break;

                    default: {
                        const selectOpts = {};
                        if (this.ariaLabel) {
                            selectOpts['aria-label'] = this.ariaLabel;
                        }
                        this.root = createElement(this, 'select', selectOpts);
                        this.root.multiple = this.multiple;
                        this.root.onchange = () => this.onChangeHandler();

                        // force blur events to bubble (required for ca-form validation)
                        this.root.onblur = () => {
                            // helpers.fireEvent(this, 'blur');
                        };
                    }
                }

                if (this.data) this.render();
            }

            /**
            * observedAttributes - get a list of attributes that should effect re-render.
            * @return {array} list of attributes that effect a re-render.
            */
            static get observedAttributes() {
                return ['src'];
            }

            /**
             * @description Executes when any attribute is changed on the element
             * @type {Event}
             * @param {string} name - the name of the attribute to have changed
             * @param {string} oldValue - the old value of the attribute
             * @param {string} newValue - the new value of the attribute
             * @returns {void} void
             */
            attributeChangedCallback(name, oldValue, newValue) {

                // only need to re-render the component if the attribute value has changed
                if (oldValue !== newValue) {

                    if (name === 'multiple') {

                        if (this.root instanceof HTMLSelectElement) {

                            this.root.multiple = (newValue === 'true');
                        }
                        // TODO: make checkboxes into radio buttons if not multiple
                    }
                }
            }

            /**
             * Loads the json schema for this item
             * Executed when this.schema property changes
             * @returns {void} void
             */
            loadSchema() {

                const schemaUrl = this.src;

                return componentSupport.request({ url: schemaUrl, dataType: 'json' }).then(data => {

                    this.schema = data;
                })
                    .catch(() => {

                        this.data = {};
                    });
            }

            /**
             * Renders the ca-select element
             * @returns {void} void
             */
            render() {

                if (!this.root) return;

                const data = this.data || [];
                const hasData = (Array.isArray(data) && this.data.length);
                const defaultLabel = (hasData) ? ((this.type === 'tel') ? 'Code' : 'Please select') : 'No options available'; // eslint-disable-line

                if (this.readonly && this.style !== 'checkbox') {

                    this.root.setAttribute('readonly', true);
                }

                // render options if we have some data to work with
                if (hasData) {

                    if (this.style !== 'checkbox') {

                        // add default (unselectable) option
                        createElement(this.root, 'option', { value: '', 'data-index': 0, selected: true }, defaultLabel);
                    }

                    if (this.style === 'checkbox') {

                        this.rootCheckbox = createElement(this.root, 'div', {});
                    }

                    for (let i = 0, l = this.data.length; i < l; i++) {

                        const item = this.data[i];

                        switch (this.style) {

                            case 'checkbox': {

                                const p = createElement(this.rootCheckbox, 'p', {});
                                const opt = createElement(p, 'input', { type: 'checkbox', value: item.value, 'data-index': i + 1 });
                                p.appendChild(document.createTextNode(` ${item.label} `));

                                if (item.attachment) {

                                    createElement(p, 'a', { href: item.attachment.href, target: '_blank' }, item.attachment.title);
                                }

                                opt.addEventListener('change', () => {

                                    this.setAttribute('data-selected', (this.checked).toString());
                                    this.onChangeHandler();
                                });
                            } break;

                            default: {
                                const opt = createElement(this.root, 'option', { value: item.value, 'data-index': i + 1 }, item.label);

                                if (this.multiple) {

                                    this.root.querySelectorAll('option')[0].disabled = true;
                                }

                                opt.selected = (item.value === this.value);

                                if (!this.isTouch && this.multiple) {

                                    opt.onmousedown = e => {

                                        e.preventDefault();
                                        e.stopPropogation();
                                        this.checkChange(this);
                                        return false;
                                    };

                                    this.root.onclick = e => {

                                        e.preventDefault();
                                        e.stopPropogation();
                                        return false;
                                    };
                                }
                            }
                        }
                    }

                    // just in case this is a re-render, clear this!
                    this.removeAttribute('data-empty');
                } else {

                    // add an attribute to allow empty selects know this item has no children
                    this.setAttribute('data-empty', 'true');
                }
            }

            /**
             * Executes each time an option is clicked
             * @param {object} el Element
             * @returns {void} void
             */
            checkChange(el) {

                if (!el || el.value === '') return;

                const selected = (el.getAttribute('data-selected') === 'true');
                el.setAttribute('data-selected', !selected);
            }

            /**
             * A seemingly pointless method
             * @param {object} data data
             * @returns {void} void
             */
            onupdate(data) {

                trace(data);
            }

            /**
             * onChange handler
             * @returns {void} void
             */
            onChangeHandler() {

                const parentForm = parentByAttribute(this, 'tagName', 'CA-FORM');

                if (parentForm) {

                    parentForm.setAttribute(`data-select-${this.id}`, this.value);
                }
            }

            /**
             * Get data
             * @returns {array} data
             */
            get data() {

                return this._data || [];
            }

            /**
             * Sets data
             * @param {array} value Data
             * @returns {void} void
             */
            set data(value) {

                this._data = value || [];
                this.render();
            }

            /**
             * Sets schema
             * @param {object} schema schema
             * @returns {void} void
             */
            set schema(schema) {

                const selectData = [];
                const data = schema.enum || schema.type;

                if (Array.isArray(data) && data.length) {

                    for (let i = 0, l = data.length; i < l; i++) {

                        const value = (data[i].enum && data[i].enum[0]) || data[i];
                        const label = data[i].title || (l === 1 && schema.title) || data[i];
                        let links = data[i].links || (l === 1 && schema.links) || [];
                        links = links.filter(link => link.rel === 'preview');

                        selectData.push({
                            value,
                            label,
                            attachment: (links.length && links[0]) || null
                        });
                    }
                }

                this.data = selectData;
            }

            /**
             * Gets src
             * @returns {string} src
             */
            get src() {

                return this.getAttribute('schema-url');
            }

            /**
             * Sets src
             * @param {string} value src
             * @returns {void} void
             */
            set src(value) {

                this.setAttribute('schema-url', value);
                this.loadSchema();
            }

            /**
             * Gets value
             * @returns {string|array} value
             */
            get value() {

                if (this.multiple) {

                    const results = [];

                    if (this.root) {

                        const options = (!this.isTouch) ? this.root.querySelectorAll('[data-selected="true"]') : this.root.options.filter(option => option.value === 'selected')[0];

                        options.forEach(item => {

                            results.push(item.value);
                        });
                    }
                    return results;
                }

                return this.root ? (this.root.value || this._value) : '';
            }

            /**
             * Sets value
             * @param {string|array} value value
             * @returns {void} void
             */
            set value(value) {

                this._value = value;

                if (this.root) {
                    this.root.value = value;
                }

                // if this a multi-select element
                if (this.multiple) {

                    // TODO: handle set with style = checkbox
                    // grab hold of all the option elements

                    setTimeout(() => {

                        const options = this.root && this.root.querySelectorAll('option');

                        if (options) {

                            options.forEach(item => {

                                // if the value we are setting matches the option value
                                if (value.indexOf(item.value) > -1) {

                                    // then set the data-selected attribute for this option
                                    item.setAttribute('data-selected', true);
                                }
                            });
                        }
                    }, 0);
                }
            }

            /**
             * Is this element a multiselect
             * @returns {boolean} true/false
             */
            get multiple() {

                return this.getAttribute('multiple') === 'true';
            }

            /**
             * Sets multiselect
             * @param {string} value Is multiselect
             * @returns {void} void
             */
            set multiple(value) {

                this.setAttribute('multiple', value.toString());
            }

            /**
             * Gets selections
             * @returns {array} selections
             */
            get selections() {

                return this._selections || {};
            }

            /**
             * Sets selections
             * @param {array} value selections
             * @returns {void} void
             */
            set selections(value) {

                this._selections = value;
            }

            /**
             * Get readonly
             * @returns {boolean} readonly
             */
            get readonly() {

                return this.getAttribute('readonly') === 'true';
            }

            /**
             * Sets readonly
             * @param {boolean} value readonly
             * @returns {void} void
             */
            set readonly(value) {

                this.setAttribute('readonly', value);
            }

            /**
             * Gets style
             * @returns {string} style
             */
            get style() {

                return this.getAttribute('style');
            }

            /**
             * Sets style
             * @param {string} value style
             * @returns {void} void
             */
            set style(value) {

                this.setAttribute('style', value);
            }

            /** @returns {string} ca-select.ariaLabel - the aria label to use for the confirm text box */
            get ariaLabel() {
                return this.getAttribute('aria-label') || '';
            }

            /** @param {string} ariaLabel - the aria label to use for the select element */
            set ariaLabel(ariaLabel) {
                if (ariaLabel) {
                    this.setAttribute('aria-label', ariaLabel || '');
                }
            }
        }

        document.registerElement('ca-select', CaSelectElement);
    });

</script>