<link rel="import" href="./helpers/create-element.html">
<link rel="import" href="./helpers/clear-element.html">
<link rel="import" href="./helpers/parent-by-attribute.html">
<link rel="import" href="./helpers/secure-ajax.html">
<style>
    /* GENERIC WEB-COMPONENT OVERRIDES */
    ca-treeview { display: inline-block; vertical-align: top; border-right: none !important; background-color: #E5E8EC; margin: 0; padding: 0.5em; position: absolute; box-sizing: border-box; width: 200px; }

    ca-treeview nav { color: #363636; }
    ca-treeview [rel]:before { background-size: 100% 100% !important; position: absolute; left: 0; top: 0; width: 28px; height: 28px; transition: 150ms !important; }
    ca-treeview [rel] { padding-left: 30px; }
    ca-treeview [rel="root"] > span { font-weight: bold; text-decoration: none !important; cursor: default !important; }
    ca-treeview [rel="root"]:hover:before{
        -webkit-transform: scale(1) !important;
        -moz-transform: scale(1) !important;
        -ms-transform: scale(1) !important;
        -o-transform: scale(1) !important;
        transform: scale(1) !important;
    }
    ca-treeview [rel]:hover:before { -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -ms-transform: scale(1.2); -o-transform: scale(1.2); transform: scale(1.2); }

    ca-treeview {
        width: 208px;
        height: 100%;
        display: block;
        border-right: 3px solid #e6e6e6;
        margin: 6px;
    }
    ca-treeview ol { position: relative; padding-left: 0; margin: 0; }
    ca-treeview li {
         position: relative;
         line-height: 2.2em;
         margin-left: 0;
         display: block;
    }
    ca-treeview span:hover { text-decoration: underline; cursor: pointer; }
    ca-treeview [data-href] { cursor: pointer; }

    ca-treeview [data-selected="true"] { font-weight: bold; }
</style>
<script>
define('ca-treeview', [
    'create-element',
    'clear-element',
    'parent-by-attribute',
    'secure-ajax'
],
(createElement, clearElement, parentByAttribute, ajax) => {
    /**
     * Class TreeView for a TreeView web component
     * @extends HTMLElement
     */
    class CaTreeviewElement extends HTMLElement {
        /**
         * createdCallback is called when the component is first created.
         * creates children, binds events and loads data if src is avaliable.
         * @returns {undefined}
         */
        createdCallback() {
            this.nav = createElement(this, 'nav', {});
            this.ol = createElement(this.nav, 'ol');
            this.nav.onclick = this.eventDelegate.bind(this);

            if (this.dataSrc) {
                this.loadData();
            }
        }

        /**
         * Called every time an attribute is changed.
         * @param {string} attrName, the name of the changed attribute.
         * @param {string} oldVal, previous value associated with attribute.
         * @param {string} newVal, current value associated with attribute.
         * @returns {undefined} if data-src or data-root change, then trigger data fetch.
         */
        attributeChangedCallback(attrName, oldVal, newVal) {
            switch (attrName) {
                case 'data-src':
                    if (newVal !== '') {
                        this.loadData();
                    }
                    break;

                case 'data-root':
                    this.root = newVal;
                    break;

                default: break;
            }
        }

        /**
         * Gets the root attribute
         * @returns {string} data-root attribute, default is empty.
         */
        get root() {
            return this.getAttribute('data-root') || '';
        }

        /**
         * Gets the root attribute
         * @param {string} value, data-root attribute, default is empty.
         */
        set root(value) {
            this.setAttribute('data-root', value || '');
        }

        /**
         * Gets the data-src
         * @returns {string} data-src attribute.
         */
        get dataSrc() {
            return this.getAttribute('data-src');
        }

        /**
         * Sets the data-src
         * @param {string} value, sets the data-src attribute.
         */
        set dataSrc(value) {
            this.setAttribute('data-src', value);
        }

        /**
         * Get the data
         * @returns {array} returns the data.
         */
        get data() {
            return this._data || [];
        }

        /**
         * Sets the data
         * @param {array} value, array to set as the data, defaults to empty. Invokes render.
         */
        set data(value = []) {
            this._data = value;
            this.render();
        }

        /**
         * Gets selected item
         * @returns {HTMLElement} selected Item
         */
        get selected() {
            return this._selected;
        }

        /**
         * Sets the selected item.
         * @param {HTMLElement} el current element.
         * @returns {int} max-children.
         */
        set selected(el) {
            this._selected = el;
        }

        /**
         * Gets the max children allowed.
         * @returns {int} max-children.
         */
        get maxChildren() {
            return parseInt(this.getAttribute('data-max-children') || '0', 10);
        }

        /**
         * Sets the max children allowed.
         * @param {int} value number of allow childre, defaults to 0.
         */
        set maxChildren(value = 0) {
            this.setAttribute('data-max-children', parseInt(value, 10));
        }

        /**
         * Load the data via an XHR request.
         * @param {HTMLElement} parent to render with data.
         * @param {string} dataSrc, url to load data form.
         * @returns {undefined} either data is loaded or render is called.
         */
        loadData(parent, dataSrc) {
            const dataSource = dataSrc || this.dataSrc;
            ajax
                .execute({ url: dataSource, dataType: 'json' })
                .then(data => {
                    // if this is a schema with instance links, grab the instance url
                    const instancesUrl = (data.$schema && data.items.links) ? (data.items.links.find(link => link.rel === 'instances') || {}).href : '';
                    if (instancesUrl !== '') {
                        // we need to go get the instance data and recall this function to trigger rendering
                        this.loadData(parent, instancesUrl);
                    } else {
                        clearElement(this.ol);
                        this.render(parent, data);
                    }
                });
        }

        /**
         * create a child within the tree view
         * @param {HTMLElement} parent, append to this.
         * @param {string} tagName, the html tag to create.
         * @param {object} item, schema object.
         * @returns {HTMLElement} the newly created list item.
         */
        createChild(parent, tagName, item) {
            const label = item.label || item.title || 'undefined';
            const rel = (item.rel || '').toLowerCase().replace(/(describedby|described_by):/gi, '');
            const attributes = {};

            // get a list of attributes to be added to the element
            // eslint-disable-next-line no-restricted-syntax
            for (const key in item) {
                if (Object.prototype.hasOwnProperty.call(item, key) && key !== 'label' && key !== 'title' && key !== 'rel') {
                    attributes[`data-${key}`] = item[key] || '';
                }
            }

            if (rel !== '') {
                attributes.rel = rel;
            }

            const listItem = createElement(parent, tagName, attributes);

            createElement(listItem, 'span', null, label);

            return listItem;
        }

        /**
         * Render the TreeView based on an element and data.
         * @param {HTMLElement} parent, starting point of tree view render.
         * @param {object} data that builds the tree view.
         * @returns {undefined} renders the component but doesn't return.
         */
        render(parent, data) {
            let parentElement = parent || this.ol;
            const componentData = data || this.data;

            if (this.root !== '') {
                const li = this.createChild(parentElement, 'li', { label: this.root, rel: 'root' });
                parentElement = createElement(li, 'ol');
            }

            if (componentData.links) {
                for (let i = 0, l = componentData.links.length; i < l; i++) {
                    this.createChild(parentElement, 'li', componentData.links[i]);
                }
            }

            // TODO: use events instead of this or something neater.
            if (this.onrendercomplete) {
                this.onrendercomplete();
            }
        }

        /**
         * Event handler for component.
         * @param {event} e, event object from action.
         * @returns {undefined}
         */
        eventDelegate(e = event) {
            let el = e.target || e.srcElement;

            // resolve to LI
            el = (el.tagName !== 'LI') ? parentByAttribute(el, 'tagName', 'LI') : el;

            const dataSrc = el.getAttribute('data-href') || '';
            const rel = el.getAttribute('rel') || '';

            // ignore root clicks
            if (rel === 'root') {
                e.preventDefault();
                e.stopPropagation();
                return;
            }

            if (dataSrc !== '') {
                e.preventDefault();
                e.stopPropagation();

                // clear previous selection
                if (this.selected) {
                    this.selected.removeAttribute('data-selected');
                }

                // select new
                el.setAttribute('data-selected', 'true');

                this.selected = el;

                if (this.onclick) {
                    const txtProp = ('textContent' in document.createElement('i')) ? 'textContent' : 'innerText';
                    const relation = el.getAttribute('rel') || '';
                    const title = el[txtProp] || '';

                    this.onclick.call(el, dataSrc, title, relation);
                }
            }
        }

        /**
         * onrendercomplete blank function, it exists so other can hook into this.
         * TODO: Kill this ASAP.
         * @returns {undefined}
         */
        onrendercomplete() {
        }
    }

    document.registerElement('ca-treeview', CaTreeviewElement);
});
</script>
