ca-vote button {
    display: block;
    width: 100%;
    border: 0;
    color: #fff;
    position: relative;
    text-transform: uppercase;
    padding: 10px 0;
}

ca-vote button::before {
    font-family: fontawesome;
    position: relative;
    left: -10px;
    font-size: 20px;
}

ca-vote[data-status="enabled"] button{
    background: #4CAF50;
}

ca-vote[data-status="enabled"] button::before {
    content: "\f164";
}

ca-vote[data-status="disabled"] button{
    background: #969696;
}

ca-vote[data-status="disabled"] button::before {
    content: "\f00c";
}